.form {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorText {
    margin-left: 15px;
    color: white;
}
