body{
    margin: 0px;
    background-color: #8C1D40;
}

div.showcase-wrapper{
    background-color: #efefef;
    max-width: 70%;
    margin: 0 auto;
}

h2.showcase-single-description-title{
    font-family: 'Open Sans';
}

div.showcase-single-wrapper{
    display: flex;
    padding: 2% 0;
}

div.showcase-single-yt-wrapper{
    font-family: 'Open Sans';
    width: 40%;
    height: fit-content;
    
}

#yt_frame{
    aspect-ratio: 12 / 7;
    width: 100%;
    border: 0px;
}

div.showcase-single-description-wrapper{
    width: 60%;
    padding: 1%;
    height: fit-content;
}

p.showcase-single-description-p{
    font-family: 'Open Sans';
    font-size: 16px;
    text-align: justify;
}

.individual-wrapper{
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
}

div.divider{
    width: auto;
    height: 3px;
    background-color: #c8c5be;
}

section.divider-single{
    max-width: 80%;
    size: auto;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}


div.top-banner{
    width: 100%;
    height: 60%;
    background-color: #c1c1c1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.top-banner-title{
    background-color: #FFC627;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    container-type: size;
}

#top-banner-title-h1{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 20cqmin;
    resize: both;
    color: #8C1D40;
}

#banner-splash{
    width: 100%;
    height: auto;
}

.flex-left{
    display: flex;
    flex-direction: row;
}

.flex-right{
    display: flex;
    flex-direction: row-reverse;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}