.menu-container {
  width: 100%;
  background: linear-gradient(to top, black, #333);
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-list li {
  margin: 0 10px;
}

.menu-list a {
  color: white;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-list a:hover {
  color: rgb(0, 140, 255);
  text-decoration: underline;
  text-decoration-color: yellow;
  background: black;
  box-shadow: 0 0 5px 2px white;
}

.submenu-container {
  position: relative;
}

.submenu-title {
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.submenu-title:hover {
  background: black;
  box-shadow: 0 0 5px 2px white;
}

.arrow {
  margin-left: 5px;
}

.submenu-list {
  list-style-type: none;
  position: absolute;
  background: linear-gradient(to top, black, #333);
  border-radius: 15px;
  padding: 10px 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}