h2 {
  text-align: center;
}
.reminder {
  font-size: 50px;
}

body {
  background-color: rgb(140, 29, 64);
}

.pre-event-landing-page {
  padding: 20px;
}

.pre-event-landing-page img {
  display: block;
  margin: auto;
}

.pre-event-landing-page p {
    background-color: goldenrod;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}