h2 {
  text-align: center;
}
.reminder {
  font-size: 50px;
}

body {
  background-color: maroon;
}

.pre-event-landing-page {
  padding: 20px;
}

.pre-event-landing-page h2,
.pre-event-landing-page p {
  color: black;
}

.pre-event-landing-page img {
  display: block;
  margin: auto;
}

.pre-event-landing-page p {
    background-color: gold;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}