.admin-dashboard-container {
  display: flex;
  /* height: 100vh; */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}
.admin-dashboard-navbar {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  flex: 0 0 250px;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  overflow-y: auto;
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 20%;
}
.admin-dashboard-main {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
  flex: 80%;
}
.admin-dashboard-navbar-items {
  
  display: flex;
  align-items: center;
  color: white !important;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
    transition: background-color 0.3s;
   font-weight: bold;
  gap: 2px;
  width: 100%;
  box-sizing: border-box;
  
  
}
.admin-dashboard-navbar-items:hover {
  background-color: #34495e;
}
.admin-dashboard-navbar-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}


.admin-logout-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.admin-logout-msg 
{
  color: black;
  font-size: 24px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-logout-icon {
  margin-right: 10px;
  color: #f39c12;
  font-size: 75px;
  vertical-align: middle;

}

.admin-logout-msg p {
  margin: 10px 0;
  font-size: large;
}

.admin-logout-yes, .admin-logout-no {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  background-color: #3498db;
  color: white;
  width: 80%;

}
.admin-logout-yes:hover, .admin-logout-no:hover {
  background-color: #2980b9;
  
}