body {
  font-family: Arial, sans-serif;
  margin: 0;
  transition: margin-left 0.3s ease;
}

.biomedical-engineering {
  margin: 0 auto;
  text-align: center;
  transition: margin-left 0.3s ease;
}

.biomedical-engineering.compressed {
  margin-left: 250px;
}

.biomedical-engineering .header-background {
  background-image: url("../assets/beBanner.webp");
  background-size: cover;
  background-position: center 30%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header-background h1,
.header-background h2,
.header-background h3 {
  margin: 10px 0;
}

.biomedical-engineering .asu-logo {
  position: absolute;
  top: 10px;
  left: 70px;
  width: 300px;
  height: auto;
}

.biomedical-engineering .title-container {
  font-family: "Fjalla One";
  font-weight: bold;
  font-size: 27px;
  color: rgb(57, 46, 80);
  background: none;
  position: absolute;
  top: 90px;
  left: 120px;
  text-align: left;
}

.content-area {
  background: #d3d3d3;
  width: 100%;
  overflow-y: auto;
  padding-top: 20px;
}

.event-details {
  text-align: center;
}

.event-details .reminder {
  font-size: 18px;
  margin: 20px 0;
}

.event-details article {
  display: inline-block;
  text-align: left;
  width: 80%;
}

.event-details article p {
  color: black;
  font-weight: bold;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
}
