body {
  background-color: rgb(140, 29, 64);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.pre-event-landing-page {
  padding: 20px;
  margin: 0 auto;
  max-width: 1100px;
  text-align: center;
  color: white;
}

.asu-logo {
  margin-top: 24px;
}

header h1, header h2 {
  margin: 10px 0;
}

main h3 {
  margin: 20px 0;
  font-size: 24px;
}

.event-details .reminder {
  font-size: 18px;
  margin: 20px 0;
}

.event-details article p {
  background-color: goldenrod;
  color: black;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
}
