body {
  background-color: rgb(72, 69, 70);
  font-family: Arial, sans-serif;
  margin: 0;
  transition: margin-left 0.3s ease;
}

.pre-event-landing-page {
  margin: 0;
  text-align: center;
  transition: margin-left 0.3s ease;
}

.pre-event-landing-page.compressed {
  margin-left: 250px;
}

.asu-logo {
  margin-top: 0px;
}

.header-background {
  background-image: url('../assets/background.webp'); 
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  border-radius: 10px;
  color: white; 
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-background h1, .header-background h2, .header-background h3 {
  margin: 10px 0;
}

.title-container {
  background-color: goldenrod;
  color: rgb(140, 29, 64);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.content-area {
  background: #d3d3d3; 
}

.event-details {
  text-align: center; 
}

.event-details .reminder {
  font-size: 18px;
  margin: 20px 0;
}

.event-details article {
  display: inline-block;
  text-align: left; 
  width: 80%; 
}

.event-details article p {
  color: black;
  font-weight: bold;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
}
