.winner-component__parent-container {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  background-color: #f5f9fc;
}

.winner-container {
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  grid-template-columns: repeat(12, minmax(80px, 1fr));
  grid-template-rows: 550px 150px 550px 150px 550px;
  width: 100%;
  /* height: 550px; */
  margin-bottom: 4rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 4rem 0 1rem;
  height: 100%;
  /* margin-right: 3rem; */
  /* border-left: dashed 2px #e0e0e0; */
  grid-column: 2 / 5;
  /* grid-column: span 2; */
  z-index: 1;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  grid-column: 8 / 12;
  /* grid-column: span 4; */
  z-index: 1;
}

.text-1 {
  grid-row: 1 / 2;
}
.pic-1 {
  grid-row: 1 / 2;
}

.text-2 {
  grid-row: 3 / 4;
}
.pic-2 {
  grid-row: 3 / 4;
}

.text-3 {
  grid-row: 5 / 6;
}
.pic-3 {
  grid-row: 5 / 6;
}

.place-header {
  color: #8c1d40;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  margin-top: 3rem;
}

.winner-title-text {
  color: #1a0404;
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.winner-desc-text {
  color: #606060;
  font-size: 1.2rem;
  text-align: left;
  margin: 1rem 0 0 0;
}
.winner-image {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.grid-line {
  border: 1px dashed #e0e0e0;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
  top: 0;
  /* background: repeating-linear-gradient(to right, black 0 2px, transparent 2px 4px); */
  /* transform: scaleY(.5);
  transform-origin: top; */
}
.line1 {
  position: absolute;
  left: 8%;
  top: 35%;
  height: 225vh;
}
.line2 {
  position: absolute;
  left: 37%;
  top: 50%;
  height: 210vh;
}
.line3 {
  position: absolute;
  left: 75.4%;
  top: 50%;
  height: 210vh;
}
.line4 {
  position: absolute;
  left: 96.9%;
  top: 50%;
  height: 210vh;
}
.line5 {
  position: absolute;
  top: -65.1%;
  /* left: 80%; */
  transform: rotate(90deg) translateY(-55%);
  height: 100vw;
}
.line6 {
  position: absolute;
  top: 11.1%;
  /* left: 80%; */
  transform: rotate(90deg) translateY(-55%);
  height: 100vw;
}
.line7 {
  position: absolute;
  top: 87.3%;
  /* left: 80%; */
  transform: rotate(90deg) translateY(-55%);
  height: 100vw;
}

@media(max-width: 1440px) {
  .winner-container {
    grid-template-rows: 900px 900px 250px 900px 900px 250px 900px 900px 900px 250px;
  }
  .image-container {
    flex-wrap: wrap;
    grid-column: 2 / -1;
  }
  .winner-image {
    max-width: 40rem;
    min-width: 30rem;
    height: auto;
  }
  .pic-1 {
    grid-row: 2 / 3;
  }
  .text-2 {
    grid-row: 5 / 6;
  }
  .pic-2 {
    grid-row: 6 / 7;
  }
  .text-3 {
    grid-row: 8 / 9;
  }
  .pic-3 {
    grid-row: 9 / 10;
  }
  .grid-line {
    display: none;
  }
}

/* .winner-component__no-results {
  flex-grow: 1;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}

.winner-component__winner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  padding: 20px;
  background-color: white;
}

.winner-component__winner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 8px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.winner-component__winner-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.winner-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.winner-component__winner-image {
  width: 100%;
  height: 200px;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 16px;
  position: relative;
}

.winner-component__winner-medal {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  stroke-width: 12;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.winner-component__winner-text-section {
  color: black;
  text-align: left;
  margin: 0;
}

.winner-component__winner-project {
  margin: 0;
  font-weight: 650;
  font-size: 1.1rem;
  color: #8C1D40;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.winner-component__winner-author {
  margin: 0;
  font-size: 0.85rem;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.winner-component__winner-info-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 6px;
  margin-bottom: 6px;
}

.winner-component__winner-semester {
  font-size: 0.75rem;
  font-weight: 500;
  background: #E0E0E0;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
}

.winner-component__winner-department {
  background: #FFC627;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.winner-component__winner-description {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
}

.winner-component__winner-details-link-container {
  margin-top: 1rem;
}

.winner-component__winner-details-link {
  margin-top: 0.75rem;
  background: #8C1D40;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 18px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  display: inline-block;
}

.winner-component__winner-details-link:hover 
{
  color: #ffc627;
}

.winner-details-link:hover {
  background: #D23153;
}

@media (max-width: 1024px) {
  .winner-component__winner-container {
    flex-direction: column;
    align-items: center;
  }
} */
