body 
{
    font-family: Arial, sans-serif;

}
.winners__form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: calc(100vh - 73.73px);
}

.winners__showcase-title {
  color:#8C1D40; 
  font-family: sans-serif; 
  padding-top: 1rem;
}

.winners__form {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  background: #f9f9f9;
  padding: 2rem 1.5rem;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  align-items: flex-end;
  text-align: left;
  margin-bottom: 25px;
  
}

.winners__form span {
  display: flex;
  flex-direction: column;
  min-width: 180px;
}

.winners__form label {
  font-weight: 600;
  margin-bottom: 8px;
  color: #8C1D40;
}

.winners__form .winners__filter-param {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  background: #fff;
  color: black;
}

.winners__button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 12px;
  gap: 12px;
}

.winners__button-container > .winners__form-button{
  padding: 10px 28px;
  background: var(--asu-maroon);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.winners__button-container > .winners__form-button:hover {
  background: var(--asu-gold);
  color: var(--asu-maroon);
}
